body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #1c033d; /* Cambiado a morado */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header img {
    height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    flex: 1;
    padding: 30px;
}

footer {
    background-color: #240449; /* Cambiado a morado */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

h1, h2, h3 {
    color: #3f085f;
    font-size: 2em;
}

button {
    background-color: #FFA500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FF8C00;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner {
    background-color: #FFA500; /* Cambiado a naranjo */
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.popular-bets {
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

.popular-bets h2 {
    color: #FFA500; /* Cambiado a naranjo */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.popular-bets ul {
    list-style: none;
    padding: 0;
}

popular-bets ul li {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Estilos adicionales para la página de inicio */
.index-page {
    background-color: #800080; /* Cambiado a morado */
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.index-page h1, .index-page p {
    font-size: 2.5em;
    margin: 20px 0;
}

/* Estilos para botones llamativos */
.nav-button {
    background-color: #FFA500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
}

.nav-button:hover {
    background-color: #FF8C00;
}

.todo {
    color: white;
}

.bet {
    color: green;
}
.event-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-button {
    display: block;
    width: 40%;
    padding: 20px;
    margin: 10px 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.event-button:hover {
    background-color: #0056b3;
}





