{% extends 'base.html' %}
{% block content %}
<section class="index-page">
    <h1>
        <span class="todo">TODO</span><span class="bet">BET</span>
    </h1>
    
    <p>Las mejores apuestas en eventos no convencionales</p>
</section>
<section class="popular-bets">
    <h2>Apuesta en los próximos eventos</h2>
    <div class="event-buttons">
        <a href="events" class="event-button">Cholitas Wrestling</a>
        <a href="events" class="event-button">Power Slap</a>
        <a href="events" class="event-button">Pelea de enanos</a>
    </div>
</section>
{% endblock %}





